In [16]:
import sys
sys.path.append("../")

import os
import dotenv # type: ignore
dotenv.load_dotenv()

from sqlalchemy import create_engine
import psycopg2
from psycopg2 import OperationalError, errorcodes, errors

import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
df_detalles_artistas = pd.read_csv('../data/detalles_artistas.csv').reset_index(drop=True)

In [3]:
df_detalles_artistas.head()

,actr,año_nac,conocido_por,que_hace,premios
0,A. Gunaseelan,9999,'Mandela',"Casting Department, Actress, Casting Director",1 nomination
1,A. Michelle Harleston,9999,"'Murder by Numbers', 'The Mark of a Killer', '...",Actor,no tiene premios
2,A.C. Peterson,9999,"'Narc', 'Shanghai Noon', 'Shooter', 'The Last ...",Actor,no tiene premios
3,A.V.S. Subramanyam,1957,"'Roommates', 'Uncle', 'Ori Nee Prema Bangaramk...","Actor, Director, Writer",no tiene premios
4,Øyvind Øvrebø,9999,"'Tingen, Edderkoppen', 'Demenskoret', 'Kristia...","Actress, Additional Crew",no tiene premios

In [4]:

df_detalle_peliculas = pd.read_csv('../data/detalles_peliculas.csv').reset_index(drop=True)

In [5]:
df_detalle_peliculas.head()

,titulo,cali_imdb,direc_imbd,guion_imbd,argum_imbd,durac_imbd,id_pelicula
0,Las Travesuras de Super Chido,7.7,Alejandro Todd,Óscar FentanesJuan Garrido,Desconocido,1h 35min,tt0320656
1,Velai Kidaichiruchu,5.2,P. Vasu,SathyarajGautamiAnandraj,"Baasha, a gangster, controls a whole village w...",Desconocido,tt0318803
2,Sor Batalla,6.6,Jesús Fragoso Montoya,Fernando Galiana,As punishment for participating in a contest T...,1h 34min,tt0320503
3,Azaad Desh Ke Gulam,5.3,S.A. Chandrashekhar,RekhaRishi KapoorJackie Shroff,"Bharti, a law student from a rich family, live...",2h 33min,tt0330019
4,Suo ming fei dao,NaN,Desconocido,Desconocido,Desconocido,1h 24min,tt0348147

In [6]:
df_peliculas_artistas = pd.read_csv('../data/pelicula_artista.csv').reset_index(drop=True)

In [7]:
df_peliculas_artistas.head()

    Movie ID       Actriz_Actor
0  tt0110660  Tony Ka Fai Leung
1  tt0110363       Luke Edwards
2  tt0110397    Jennifer Barker
3  tt0111045        Miklós Déri
4  tt0111653           Joe Bays

In [8]:
df_peliculas = pd.read_csv('../data/peliculas.csv').reset_index(drop=True)

In [9]:
df_peliculas.head()

    Tipo                         Titulo   Año  Mes         Id generos
0  Movie  Las Travesuras de Super Chido  1990   10  tt0320656  Action
1  Movie            Velai Kidaichiruchu  1990    8  tt0318803  Action
2  Movie                    Sor Batalla  1990    8  tt0320503  Action
3  Movie            Azaad Desh Ke Gulam  1990    4  tt0330019  Action
4  Movie               Suo ming fei dao  1991   11  tt0348147  Action

In [10]:
DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")

In [11]:

 
# Create connection to Snowflake using your account and user
account_identifier = 'localhost'
user = DB_USER
password = DB_PASSWORD
#engine = create_engine("postgresql+psycopg2://scott:tiger@localhost:5432/mydatabase")
conn_string = f"postgresql+psycopg2://{user}:{password}@{account_identifier}:5432/imdb_pelis"
engine = create_engine(conn_string)

In [12]:

table_name = 'peliculas'
if_exists = 'replace'
 
# Write the data to Snowflake
with engine.connect() as con:
 df_peliculas.to_sql(
 name=table_name.lower(), 
 con=con, 
 if_exists=if_exists
 )

In [13]:

table_name = 'detalles_artistas'
if_exists = 'replace'
 
with engine.connect() as con:
 df_detalles_artistas.to_sql(
 name=table_name.lower(), 
 con=con, 
 if_exists=if_exists
 )

In [14]:
table_name = 'detalles_peliculas'
if_exists = 'replace'
 
with engine.connect() as con:
 df_detalle_peliculas.to_sql(
 name=table_name.lower(), 
 con=con, 
 if_exists=if_exists
 )

In [15]:
table_name = 'peliculas_artistas'
if_exists = 'replace'
 
with engine.connect() as con:
 df_peliculas_artistas.to_sql(
 name=table_name.lower(), 
 con=con, 
 if_exists=if_exists
 )

In [20]:
# creemos una query sencilla para ver como podemos ejecutar nuestras queries y obtener los resultados 
# comom vamos a seguir trabajando con la base de datos de Chinook, vamos a extraer todos los registros de la tabla de 'Genre'

# Conectar a la base de datos
try:
    connection = psycopg2.connect(
        database="imdb_pelis", # la base de datos con la que queremos trabajar
        user=DB_USER, # el usuario que tenemos 
        password=DB_PASSWORD,
        host="localhost")
    print("conexion realizada con éxito")

except OperationalError as e:
    # Manejo de errores comunes
    if e.pgcode == errorcodes.INVALID_PASSWORD:
        print("Contraseña inválida.")
        
    elif e.pgcode == errorcodes.CONNECTION_EXCEPTION:
        print("Error de conexión.")
    else:
        print(f"Ocurrió un error: {e}")


# Una vez que hemos creado la conexión, creamos un cursor
cursor = connection.cursor()

# Ejecutar una consulta SELECT
cursor.execute('SELECT * FROM "peliculas" pe, "detalles_peliculas" det where pe."Id"= det.id_pelicula ;')

# Recuperar los resultados
resultados = cursor.fetchall()

print(len(resultados))
# Procesar los resultados

# Cerrar cursor y conexión
cursor.close()
connection.close()

conexion realizada con éxito
1453