In [1]:
# Importaciones
import pandas as pd
import sys
import os
sys.path.append("../")
from src import call_api_demanda as demanda
from src import soporte_clean as clean

In [2]:
path_ficheros = "../data/generacion"

df_final_generacion = pd.DataFrame()

for f in os.listdir(path_ficheros):
   ruta_carpeta = path_ficheros + '/' + f
   df = pd.read_csv(ruta_carpeta, index_col = 0)
   df_final_generacion =  pd.concat([df_final_generacion, clean.clean_generacion(df,f)])

display(df_final_generacion.sample(5))
display(df_final_generacion.shape[0])

,value,percentage,datetime,title,comunidad,codigo
58,22987.7035,1,2021-11-01T00:00:00.000+01:00,Generación renovable,Illes Balears,8743
75,829883.4895,1,2020-04-01T00:00:00.000+02:00,Generación renovable,Cataluña,9
7,240480.068,0.521472,2019-08-01T00:00:00.000+02:00,Hidráulica,Cataluña,9
2,195848.533,0.61068,2020-03-01T00:00:00.000+01:00,Hidráulica,Principado de Asturias,11
50,15266.7695,0.00768,2021-03-01T00:00:00.000+01:00,Residuos renovables,Galicia,17

3557

In [3]:
path_ficheros = "../data/evolucion"

df_final_evolucion= pd.DataFrame()

for f in os.listdir(path_ficheros):
   ruta_carpeta = path_ficheros + '/' + f
   df = pd.read_csv(ruta_carpeta, index_col = 0)
   df_final_evolucion =  pd.concat([df_final_evolucion, clean.clean_evolucion(df,f)])

display(df_final_evolucion.sample(5))
display(df_final_evolucion.shape[0])

,value,percentage,datetime,comunidad,codigo
5,16601.305,1,2021-06-01T00:00:00.000+02:00,Melilla,8745
9,944877.518,1,2019-10-01T00:00:00.000+02:00,Castilla - La Mancha,7
7,3786647.665,1,2019-08-01T00:00:00.000+02:00,Andalucía,4
3,15221.094,1,2019-04-01T00:00:00.000+02:00,Ceuta,8744
3,358214.104,1,2019-04-01T00:00:00.000+02:00,Cantabria,6

684